*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* misure generiche */
.margin0Auto{margin: 0 auto;}
.w100{width: 100%;}
.w90{width: 90%;}
/* .margintop{margin-top: ;} */

/* display */
.displayFlex{display: flex;}
.flexRow{flex-direction: row;}
.rowReverse{flex-direction: row-reverse;}
.j-Space-BT{justify-content:space-between;}
.j-End{justify-content: end;}
.wrap{flex-wrap: wrap;}
.alignCenter{align-items: center;}
.flexColumn{flex-direction: column;}
/* .space{align-content: center;} */
.vh100{height:calc(100vh - 120px);}
/* position */
.relative{position: relative;}
.absolute{position: absolute;}
/* color */
.black{background-color: black;}

/* header */
.size{
    height: 40px;
    padding-top: 10px;
}

header span, header i{
    color: white;
    font-size: 18px;
    background-color: #4b4b4b;
    padding: .2em;
    border-radius: 5px;
}
header i:last-child{
    margin-left: 5px;
    margin-right: 10px;
}

/* main */
.imgBox{
    width: 200px;
    height: 125px;
}
.boxName{
    padding: .2em;
    background-color: rgba(0, 0, 0, 0.381);
    left: 0;
    bottom: 2%;
    color: white;
    font-size: 18px;
}

.footerContainer{
    flex-wrap: nowrap;
    height:80px;
    background-color: #222222;
}

.footerAction{
    color: white;
    font-weight: 400;
    font-size: 14px;

}

.bigger{
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

.marginfoot{
    margin-right: 20px;
}

footer button{
height: 80px;
padding:0 20px ;
font-size: large;
color: red;
background-color: #4b4b4b;
border: 0;
}

footer i{
    color: white;
}